[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "==1.0.0"
matplotlib = "==3.0.3"
numpy = "==1.16.2"
pandas = "==0.24.1"
scipy = "==1.2.1"
scikit-learn = "==0.20.3"
tensorflow = "==1.13.1"
imageio = "==2.5.0"
scikit-image = "==0.14.2"
numexpr = "==2.6.9"
nltk = "==3.4"
urlextract = "==0.9"
tqdm = "==4.31.1"
ipywidgets = "==7.4.2"
Pillow = "==5.4.1"

[requires]
python_version = "3.7.3"
